h1,h2,h3,h4,h5,h6{
    color: red;
    background-color: blue;
    border: 2px solid gray;
    box-shadow: 0px 0px 20px yellow;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-radius: 0px 40px;
    display: inline-block;
    width: 20%;
}